<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
      .busca-input::placeholder {
          color: #ccc;
      }
    </style>
</head>
<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{{url('/blog')}}" class="nav-link px-2 text-secondary">Home</a></li>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorias
                </a>
              
                <ul class="dropdown-menu">
                  {% for categoria in categorias %}
                  <li><a class="dropdown-item" href="{{url('blog/categoria/'~categoria.id)}}">{{categoria.titulo}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <li><a href="{{url('blog/sobre-nos')}}" class="nav-link px-2 text-white">Sobre</a></li>
            </ul>
    
            <div class="position-relative" style="width: 300px;">
              <form data-url-busca="{{url('/blog/buscar')}}" role="search">
                <input type="search" id="busca" name="busca" class="form-control form-control-dark text-bg-dark busca-input" placeholder="Buscar..." aria-label="Search">
              </form>

              <div id="buscaResultado" class="position-absolute mt-1 w-100 bg-white rounded shadow-sm" style="z-index: 1000;">
              
              </div>

            </div>
    
            <div class="text-end">
              {% if usuario().level == 'Admin' %}
              Admin Logado
              {% elseif usuario().level == 'Usuario' %}
              Usuário Logado
              {% else %}
              <button type="button" class="btn btn-outline-light me-2">Entrar</button>
              <button type="button" class="btn btn-warning">Cadastre-se</button>
              {% endif %}
            </div>
          </div>
        </div>
      </header>
</body>
</html>

