<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <!-- Links CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url('templates/assets/css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url('templates/dashboard/assets/css/login.css') }}">
</head>
<body class="py-4 bg-body-tertiary">

    {% block corpo %}{% endblock %}

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url('templates/assets/js/scripts.js') }}"></script>
    <script src="{{ url('templates/dashboard/assets/js/login.js') }}"></script>
</body>
</html>


