{% extends 'base_login.html' %}

{% block corpo %}
<div class="d-flex align-items-center justify-content-center vh-100">
  <main class="form-signin w-100" style="max-width: 330px;">
    <form action="{{ url('blog/admin/login') }}" method="post">
      <img class="mb-4" src="{{ url('templates/dashboard/assets/img/bootstrap-logo.svg') }}" alt="Logo" width="72" height="57">

      {{ flash() }}

      <div class="form-floating">
        <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating my-3">
        <input name="senha" type="password" class="form-control" id="senha" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <!-- <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="checkDefault">
        <label class="form-check-label" for="checkDefault">Remember me</label>
      </div> -->

      <button id="btn_mudarcor" class="btn btn-dark w-100 py-2" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; Unset - 2025</p>
    </form>
  </main>
</div>

<!-- Botão de troca de tema -->
<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
      <svg class="bi my-1 theme-icon-active" aria-hidden="true"><use href="#circle-half"></use></svg>
      <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
          <svg class="bi me-2 opacity-50"><use href="#sun-fill"></use></svg> Light
          <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
        </button>
      </li>
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
          <svg class="bi me-2 opacity-50"><use href="#moon-stars-fill"></use></svg> Dark
          <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
        </button>
      </li>
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
          <svg class="bi me-2 opacity-50"><use href="#circle-half"></use></svg> Auto
          <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
        </button>
      </li>
    </ul>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" style="display:none;">
  <symbol id="sun-fill" viewBox="0 0 16 16">
    <path d="M8 4.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7z"/>
    <path d="M8 0a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 8 0zM8 13a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zM2.343 2.343a.5.5 0 0 1 .707 0l.707.707a.5.5 0 1 1-.707.707l-.707-.707a.5.5 0 0 1 0-.707zM12.243 12.243a.5.5 0 0 1 .707 0l.707.707a.5.5 0 1 1-.707.707l-.707-.707a.5.5 0 0 1 0-.707zM0 8a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1A.5.5 0 0 1 0 8zm13 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-9.9 5.657a.5.5 0 0 1 0-.707l.707-.707a.5.5 0 1 1 .707.707l-.707.707a.5.5 0 0 1-.707 0zM11.9 3.757a.5.5 0 0 1 0-.707l.707-.707a.5.5 0 1 1 .707.707l-.707.707a.5.5 0 0 1-.707 0z"/>
  </symbol>

  <symbol id="moon-stars-fill" viewBox="0 0 16 16">
    <path d="M6 0a6 6 0 0 0 0 12 6 6 0 0 0 0-12z"/>
    <path d="M9.598 3.47a.5.5 0 0 1 .883-.31l.6.8.6-.8a.5.5 0 1 1 .793.61l-.7.933.7.933a.5.5 0 1 1-.793.61l-.6-.8-.6.8a.5.5 0 0 1-.883-.31z"/>
  </symbol>

  <symbol id="check2" viewBox="0 0 16 16">
    <path d="M13.854 4.146a.5.5 0 0 0-.708-.708L6 10.586 2.854 7.44a.5.5 0 1 0-.708.707l3.5 3.5a.5.5 0 0 0 .708 0l7-7z"/>
  </symbol>

  <symbol id="circle-half" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 0 8 1v14z"/>
  </symbol>
</svg>

{% endblock %}



